<div class="botones">
   <div style="margin-top: 2em; margin-left: 2%;">
        <a class="boton" style="text-decoration: none;" routerLink="/clima" >Clima Actual</a>
    </div> 
    <div style="margin-top: 2em; margin-right: 2%;">
        <a class="boton" style="text-decoration: none;" routerLink="/pronostico" >Pronostico del Clima</a>
    </div> 
</div>
<div>
    <div class="centrar">
        <img class="imagen-inicio" src="../../../assets/img/memeGato.jpg" alt="">
    </div>
    <h1 style="margin-top: 3%; text-align: center; color: white;">Pagina No Encontrada</h1>
</div>